/*----------------------------------------------------------------------------- 
version:   1.0 
date:      08/05/21 
author:    Sarath
----------------------------------------------------------------------------- */

@font-face {
	font-family: Sailec;
	src: url(../fonts/Type\ Dynamic\ -\ Sailec.otf);
}

@font-face {
	font-family: SailecBold;
	src: url(../fonts/Type\ Dynamic\ -\ Sailec\ Bold.otf);
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Sailec', sans-serif;
	background: #f0f0f0;
}

h1 {
	font-family: 'SailecBold', sans-serif;
	color: #FFFFFF;
	font-size: 88px;
}

.mtb50 {
	margin: 50px 0px;
}

.pnormal {
	font-size: 0.9rem;
	color: #777777;
}

.mainbg {
	background: #FFFFFF;
}

.heroLeft {
	width: 60%;
	height: 1050px;
	background-color: #102421;
	position: relative;
}

.heroContent {
	position: absolute;
	width: 498px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hlnav {
	background: transparent;
	position: absolute;
	z-index: 10;
	width: 100%;
}

.nav-item {
	text-align: right;
}

.less-gutters {
	padding-right: 8px;
	padding-left: 8px;
}

.no-gutters>[class*='col-'] {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.navbar-nav .nav-item {
	padding: 0px 7px;
}

.navbar-brand-hl {
	padding-right: 25px;
}

.logoimg {
	max-width: 180px;
	vertical-align: text-top;
	padding: 10px;
}

.navbar-collapse-hl {
	position: absolute;
	right: 10px;
}

.navbar-collapse-hl ul {
	min-height: 50px;
}

.navbar-collapse-hl ul li {
	padding: 2px;
}

.navbar-collapse-hl ul li a {
	font-size: 14px;
	font-weight: 500;
	color: #151442 !important;
}

.navbar-collapse-hl ul li .active {
	padding-bottom: 21px;
	border-bottom: 2px solid #fa3892;
}

.faIcondownHl {
	font-size: 1.4rem;
	color: #c4c4c4;
	padding-left: 5px;
	vertical-align: middle;
}

.dropdown-user-hl {
	margin-top: -5px;
}

.hlnavRt li a {
	font-size: 0.84rem;
	font-weight: 600;
	color: #42413d;
	padding-top: 10px;
}

.hlnavRt li .avatar img {
	max-height: 30px;
	margin: 0px 5px;
}

.counthl {
	width: 19px;
	width: 19px;
	background: #151442;
	border-radius: 19px;
	display: inline-block;
	font-size: 12px;
	font-weight: 300;
	color: white;
	text-align: center;
	vertical-align: middle;
	margin-right: 3px;
}

.iconNotif {
	margin: -8px 0px 0 5px;
}
.beutyTxt{
    font-size: 14px;
    color: #D2D2D2;
    letter-spacing: 9px;
}
.heroTxt{
    margin: 40px 0px;
    width: 90%;
    color: #D2D2D2;
    font-size: 22px;
    line-height: 27px;
}
.fabellHl {
	font-size: 1.2rem;
	font-weight: bolder;
	color: #2663CA;
	vertical-align: text-top;
}

.dropuserHl {
	position: absolute;
	background: #f6f6f6;
}

.dropuserHl a {
	border-bottom: 1px solid #e7e7e7;
	color: #878787;
}

.usercircle {
	border-radius: 50%;
	max-width: 155px;
}

.buttonmain {
	background: #C7E1BF;
	color: #102522;
	border-radius: 48px;
	font-size: 14px;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid transparent;
	padding: 0px 30px;
    margin:0 30px 0 0;
    height: 58px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.heroRight{
    width: 40%;
    float: right;
    max-height: 776px;
    margin-right: 20px;
    position: absolute;
    top: 137px;
    right: 100PX;
}
.heroRight img{
    width: 100%;
}

/*Home End */


/* Animattion Sliding */

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: .75s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@-webkit-keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -30%, 0);
		transform: translate3d(0, -30%, 0);
		z-index: -1;
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -30%, 0);
		transform: translate3d(0, -30%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}


/* Animattion End*/


/* media Query Section */


/* Large devices (desktops, screens less than 75em) */

@media (max-width: 74.9em) {

    .heroLeft {
        width: 53%;
        height: 1050px;
        background-color: #102421;
        position: relative;
    }
    .heroRight {
        width: 40%;
        float: right;
        max-height: 776px;
        margin-right: 20px;
        position: absolute;
        top: 137px;
        right: 100PX;
    }
    h1 {
          font-size: 68px;
    }
    
    .navbar-nav .nav-item {
        padding: 0px 5px;
    }
}


/* Medium devices (tablets, small laptops less than 62em) */

@media (max-width: 61.9em) {
    .navbar-collapse-hl{
        position: relative;
        background: white;
    }
	.usercircle {
		max-width: 140px;
	}
    .heroLeft {
        width: 75%;
        height: 1050px;
        background-color: #102421;
        position: relative;
    }
    .heroRight {
        width: 40%;
        float: right;
        max-height: 776px;
        margin-right: 20px;
        position: absolute;
        top: 157px;
        right: 10px;
    }
    h1 {
          font-size: 60px;
    }
    
  
}


/* Small devices (phones, tablets less than 48em) */

@media (max-width: 47.9em) {
  
	.navbar-brand-hl {
		min-height: 50px;
		padding-right: 25px;
		margin: 0 auto;
		border: none;
	}
	.logoimg {
		max-width: 180px;
		vertical-align: text-top;
		padding: 10px;
	}
    .heroLeft {
        width: 85%;
        background-color: #102421;
        position: relative;
        order: 1;
    }
    .heroRight {
        width: 30%;
        float: left;
        max-height: 776px;
        margin-right: 20px;
        position: absolute;
        top: 157px;
        right: 10px;
        order: 2;
    }
    h1 {
        font-size: 50px;
  }
  .heroContent {
    width: 450px;
}
.menuIconhl{
    background-color: #C7E1BF;

}
   
}



/* Extra small devices (smart phones, less than 34em)*/

@media (max-width: 33.9em) {
    .navbar-collapse-hl{
        position: relative;
    }

	.navbar-brand-hl {
		min-height: 50px;
		padding-right: 25px;
		margin: 0 auto;
		border: none;
	}
  
	.logoimg {
		max-width: 180px;
		vertical-align: text-top;
		padding: 10px;
	}
	.heroContent {
        width: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: 30px;
}
      h1 {
        font-size: 40px;
  }
  .buttonmain{
    margin: 17px 30px 0 0;
    height: 41px;
  }

}

/* Media Queury Section */